!!! Strict
%html
  %head
    = partial('shared/layout/head')
  %body{:class => "two-col bp"}
    
  
    #container
      #header
        <a id="donate" href='http://www.pledgie.com/campaigns/16068'><img alt='Click here to lend your support to: Cells and Apotomo  and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/16068.png?skin_name=chrome' border='0' /></a>
        
        %a(href="/")
          = img 'reflexion-smooth-transparent-200.png', :id => :logo
        #slogan
          Web Components for Rails.
        
        
        
        %hr
      #sidebar
        .links
          Quick
          
          :textile  
            * #{page_link "Download", "download"}
            * #{link_to "Github", "http://github.com/apotonick/apotomo"}
            * #{page_link "Help",    "help"}
            * #{link_to "API",    "http://rdoc.info/github/apotonick/apotomo/master/frames"}
            * #{link_to "Blog",    "http://nicksda.apotomo.de"}
            
        .rights
          Web 2.0
          
          :textile  
            * #{link_to "Follow us", "http://github.com/apotonick"}
            * #{img "feed.png"} #{link_to "Feed us", "http://feeds.feedburner.com/Apotomo"}
          
        .rights
          <b>Learn</b>
          
          :textile
            * #{img "ffw.png"} #{page_link "Screencasts", "screencasts"}
            * #{page_link "Introduction", "introduction-1.1"}
            * #{page_link "States and Views", "using-states-1.1"}
            * #{page_link "AJAX Validation", "validation-1.1"}
            * #{page_link "Namespacing", "namespacing-1.1"}
            * #{page_link "Simple Nesting", "simple-nesting-1.1"}
            * #{page_link "Bubbling Events", "simple-events-1.1"}
            * #{page_link "Message Passing", "message-passing-1.1"}
            
            * #{page_link "Drag&Drop",    "dragndrop"}
            * #{page_link "Portlets",    "portlets"}
            * #{page_link "Options and hooks",    "options"}
            * #{page_link "Testing", "testing"}
            * #{page_link "jQuery", "autocomplete"}
            * #{page_link "REST and Routing", "rest"}
            * #{page_link "Pagination", "pagination"}
            * #{page_link "Deep linking", "deep-linking"}
        
        .righter
          Discussion
          
          :textile
            * #{page_link "Stateless widgets", "stateless"}
            * #{page_link "Stateful widgets", "stateful"}
          
        .righter
          Party
          
          :textile
            * #{page_link "On the Road", "road"}
      
      #content
        = yield
        
        %hr
        
        #disqus_thread
          :javascript
            // var disqus_developer = 1;
            var disqus_shortname = 'apotomo';
            var disqus_identifier = '#{current_page}';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        
      #footer
        %hr
        = link_to img("twitter5gif.gif"), "http://twitter.com/apotonick"
        
        :textile
          Apotomo is a ["Nick Sutterer":http://nicksda.apotomo.de] product.
        
        
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1303966-4']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
