!!! Strict
%html
  %head
    = partial('shared/layout/head')
  %body{:class => "two-col bp"}
    
  
    #container
      #header
        %a(href="/")
          = img 'reflexion-smooth-transparent-200.png'
          =#img 'reflexion.png', :width => 216
        %div
          Web Components for Rails.
        %hr
      #sidebar
        .links
          Quick
          
          :textile  
            * #{page_link "Download", "download"}
            * #{link_to "Github", "http://github.com/apotonick/apotomo"}
            * #{page_link "Help",    "help"}
            * #{link_to "API",    "api"}
            * #{link_to "Blog",    "http://blog.apotomo.de"}
        
        .rights
          Web 2.0
          
          :textile  
            * #{link_to "Follow us", "http://github.com/apotonick"}
            * #{img "feed.png"} #{link_to "Feed us", "http://feeds.feedburner.com/Apotomo"}
          
        .rights
          <b>Learn</b>
          
          :textile
            * #{page_link "Introduction", "introduction"}
            * #{page_link "Drag&Drop",    "dragndrop"}
            * #{page_link "Event bubbling", "bubbling"}
            * #{page_link "Portlets",    "portlets"}
            * #{page_link "Options and hooks",    "options"}
            * #{page_link "Nesting", "nesting"}
            * #{page_link "AJAX validation", "validating"}
            * #{page_link "Namespacing", "namespacing"}
            * #{page_link "jQuery", "autocomplete"}
            * #{page_link "Testing", "testing"}
            * #{page_link "Pagination", "pagination"}
        
        .righter
          Discussion
          
          :textile
            * #{page_link "Stateless widgets", "stateless"}
            * #{page_link "Stateful widgets", "stateful"}
          
        .righter
          Party
          
          :textile
            * #{page_link "On the Road", "road"}
      
      #content
        = yield
        
      #footer
        %hr
        :textile
          Apotomo is a ["Nick Sutterer":http://nicksda.apotomo.de] product. 
