:ruby
  # :alias => "road", :title => "Apotomo on the road"
:textile
  h1. Conferences and Camps
  
  We try hard to speak at conferences. It is fun.
  
.badges  
  #{img "badges/rubyconf07.jpeg"}
  #{img "badges/rubyconf08.jpeg"}
  #{img "badges/rupy09.jpeg"}
  #{img "badges/railswaycon10.jpeg"}
  #{img "badges/lonestar10.jpeg"}
  
:textile
  h2. Lonestar RubyConf 2010 (in Austin, TX)
  
  Thanks, Coby, the video is here! "Components in a Monolithic World":http://confreaks.net/videos/305-lsrc2010-components-in-a-monolithic-world with Kevin Triplett and me.
  
  h2. RailsCamp 2010 (in Cologne, Germany)
  
  No video here :-(
  
  h2. RailsWayCon 2010 (in Berlin)
  
  The "Small is Sexy - We need Components in Rails!":http://it-republik.de/conferences/railswaycon2010/tracks/?tid=1589#session-13661 talk.  No video was recorded here.
  
  h2. EuRuKo 2010 (in Kraków, Poland)
  
  h2. ApotomoCamp 2010 (in Berlin)
  
  h2. RuPy 2009 (in Poznan, Poland)
  
  The video of our talk, "Cells and Apotomo":http://blip.tv/file/3008745 with Michał Łomnicki and me.
  
  h2. RubyConf 2008 (in Orlando, FL)
  
  Here's the movie! "Components is not a dirty word":http://rubyconf2008.confreaks.com/components-are-not-a-dirty-word.html with Mike Pence and me.
  
  h2. RubyConf 2007 (in Charlotte, NC)
  
  The legendary "Technical Difficulties":http://rubyconf2007.confreaks.com/d3t3p1_summer_of_code_apotomo.html video - Horrible! ;-)
  
  h1. Scheduled ComponentsCamps in 2011
  
  * ComponentsCamp Hamburg, Germany in January 2011 (CampCaptain is Manuel Wiedenmann)
  * ComponentsCamp Skopje, Macedonia in April 2011 (CampCaptain is Boban Jovanoski, "RubyMK":http://ruby.mk/)
  * ComponentsCamp Monaco May 2011 (CampCaptain is Thierry Passeron)
