:ruby
  # :alias => "road", :title => "Apotomo on the road"
:textile
  h1. Conferences and Camps
  
  We try hard to speak at conferences. It is fun.
  
.badges  
  #{img "badges/rubyconf07.jpeg"}
  #{img "badges/rubyconf08.jpeg"}
  #{img "badges/rupy09.jpeg"}
  #{img "badges/railswaycon10.jpeg"}
  #{img "badges/lonestar10.jpeg"}
  
:textile
  h2. Lonestar RubyConf 2010 (in Austin, TX)
  
  h2. RailsCamp 2010 (in Cologne, Germany)
  
  h2. RailsWayCon 2010 (in Berlin)
  
  h2. EuRuKo 2010 (in Kraków, Poland)
  
  h2. ApotomoCamp 2010 (in Berlin)
  
  h2. RuPy 2009 (in Poznan, Poland)
  
  h2. RubyConf 2008 (in Orlando, FL)
  
  h2. RubyConf 2007 (in Charlotte, NC)

  h1. Scheduled ComponentsCamps in 2011
  
  * ComponentsCamp Skopje, Macedonia in April 2011 (CampCaptain is Boban Jovanoski, "RubyMK":http://ruby.mk/)
